/* 480 - 320 */
@media screen and (max-width: 481px) {
  header {
    padding: 18px 8px;
  }

    /* section1 */
    .section1 {
        height: 320px;
        padding-top: 60px;
      }

      .section1_h {
           font-size: 32px;
         line-height: 40px;
 
      }

      .isari{
        width: 40px;
        height: 40px;
      }

      /* section2 */
  .section2{ 
    padding: 24px 0 24px 8px;
  }

  .section2_h {

    font-size: 24px;
 
    line-height: 32px;
  
    margin-bottom: 24px;
  }

  .section_child_article {
  flex: 1 0 260px;
   
  }
    /* footer */
footer{
    padding-block: 24px;
    flex-direction: column;
    row-gap: 32px;
  }
}

